$color-active: #0070f3;
$color-text-dark: #141938;

.summary-page {
  min-height: 100vh;
  background-color: #f8f9ff;

  &__main-content {
    max-width: 928px;
    margin: 0 auto;
    padding: 0 0 80px;

    @media (max-width: 768px) {
      padding: 0rem 24px 80px;
    }
  }

  &__title {
    font-size: 2rem;
    font-weight: 700;
    color: $color-text-dark;
    margin-bottom: 2rem;
  }
}

// Estilos de la Tarjeta de Resumen
.summary-card {
  background-color: #ffffff;
  border-radius: 1rem;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
  padding: 2rem;

  &__header {
    font-size: 12px;
    font-weight: 700;
    color: $color-text-dark; // Gris claro
    margin-bottom: 1.5rem;
    text-transform: uppercase;
  }

  &__section {
    border-bottom: 1px solid #d7dbf5;
    padding-bottom: 1.5rem;
  }

  &__person-name {
    font-size: 20px;
    font-weight: 700;
    color: $color-text-dark;
    margin: 0;
    .summary-card__icon {
      margin-right: 0.5rem;
      // Aquí puedes usar una imagen SVG si tienes una de persona
    }
  }

  &__subtitle {
    font-size: 1rem;
    font-weight: 700;
    color: $color-text-dark;
    padding-top: 15px;
  }

  &__details p {
    margin: 16px 0;
    font-size: 0.9rem;
    color: $color-text-dark;
  }

  &__details--plan {
    .summary-card__price {
      font-size: 14px;
      font-weight: 400;
      color: $color-text-dark;
      margin-top: 0.5rem;
    }
  }
}
